[Unit]
Description=gunicorn daemon for simple django-imager
After=network.target

[Service]
Environment="Debug=False"
Environment="DB_Name={{ db_name }}"
Environment="SECRET_KEY=6wy9&kwb7e6x_bhj)(&7^$$rd_0vdsqva%nn9+$6%d2v-f7f@4"
Environment="DB_USER=ramon'
Environment="DB_PASSWORD=a03031991"
Environment="DB_HOST=imager-app.c6vx4sfqe8dl.us-west-2.rds.amazonaws.com"


User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-imager/imagersite/
ExecStart=/usr/bin/gunicorn --access-logfile - --workers 3 --bind 127.0.0.1:8000 imagersite.wsgi:application

[Install]
WantedBy=multi-user.target