[Unit]
Description=gunicorn daemon for simple django-imager
After=network.target

[Service]
Environment="Debug=False"
Environment="DB_NAME={{ db_name }}"
Environment="SECRET_KEY=6wy9&kwb7e6x_bhj)(&7^$$rd_0vdsqva%nn9+$6%d2v-f7f@4"
Environment="DB_USER=ramon"
Environment="DB_PASSWORD=a03031991"
Environment="DB_HOST=imager-app.c6vx4sfqe8dl.us-west-2.rds.amazonaws.com"
Environment="ALLOWED_HOSTS=ec2-34-218-248-123.us-west-2.compute.amazonaws.com"



User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-imager/imagersite/
ExecStart=/home/ubuntu/ENV/bin/gunicorn --preload --access-logfile - -w 3 -b 127.0.0.1:8000 imagersite.wsgi
[Install]
WantedBy=multi-user.target